h1,h2,h3,h4,h5,h6,.title,.subtitle{
  // font-family: 'IBM Plex Serif', serif;
  font-family: 'Exo 2', serif;
}

.image.is-centered{
  margin: 0 auto;
}

.line-top{
  height: 12px;
  width: 100%;
  display: block;
  background: url('~assets/line-top.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin:5px 0 10px;
}

.line-bottom{
  height: 12px;
  width: 100%;
  display: block;
  background: url('~assets/line-bottom.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin:5px 0 10px;
}

.slick-slide.c {
    display: inline-block;
    vertical-align: middle;
    float:none;
}